#{extends 'main.html' /}
#{set title:'文件上传测试' /}

<div class="container">
    <br/>

    <form action="@{admin.TestController.uploadFile()}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="" class="">文件上传</label>
            <div class="form-control">
                <input type="file" name="fileText"/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="">文件上传</label>
            <div class="form-control">
                <button class="btn btn-success"  type="submit" >上传</button>
            </div>
        </div>
    </form>
</div>
