*{客服中心 > 左侧栏}*
<div class="sidebar" id="sidebar"> <!-- #sidebar-shortcuts -->
    <ul class="nav nav-list">
        <li>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">客服中心</span>
                <b class="arrow icon-angle-down"> </b>
            </a>
            <ul class="submenu" >
                <li><a href="#"> 客服中心1 </a></li>
                <li><a href="#"> 客服中心2 </a></li>
                <li><a href="#"> 客服中心3 </a></li>
            </ul>
        </li>
    </ul>
    <!-- /.nav-list -->
</div>