#{extends 'backMain.html'/}
#{set title:'卖方合同>协助上传' /}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/admin/sys/mforiginalContract.css'}">
<div class="content" >
#{operationleft /}

    <div class="content-right">
        <div class="container-fluid">

    <!--/标题：合同管理>卖方合同>协助上传 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7 text-left ex-htbt"><b>合同管理>卖方合同>协助上传</b></div>
            <!--/ <div class="col-xs-9 text-left ex-htbt"><b>核对合同>协助上传合同</b></div> /-->
            <div class="col-xs-5 text-right ex-htbt"><a href="javascript:void(0)" onclick="window.history.go(-1)">返回合同详情</a></div>
            <!--/ <div class="col-xs-3 text-right ex-htbt"><a href="#">返回合同详情</a></div> /-->
        </div>
    </div>

    <!--/功能栏（上传、提交、编辑、预览、打印） -->
    <div class="container-fluid">
        <div class="row text-center ex-gnl">
            <div class="col-xs-5 text-left ex-bj">
                <button type="button" class="btn btn-xs btn-info"><samp class="glyphicon glyphicon-edit"></samp>编辑</button>
                <button type="button" class="btn btn-xs btn-success"><samp class="glyphicon glyphicon-search"></samp>预览</button>
                <small>
                    <input type="text" title="输入合同编号查询" class="ex-htbhsr text-center" placeholder="输入合同编号查询" value=""/>
                    <button type="button" class="btn btn-xs btn-success">提交</button>
                </small>
            </div>

            <div class="col-xs-7 text-right ex-sc">
                *{<button type="button" class="btn btn-sm btn-info">上传</button>}*
                    <form action="@{admin.ContractController.mfUploadImg()}?contractId=${contractId}" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            *{<label for="" class="" style="margin-right: 90%">文件上传</label>}*
                            <div class="form-control" style="width: 50%;height: 30px; margin-top: 10px; padding: 3px;">
                                <input type="file" name="fileText"/>
                            </div>
                            <button class="btn btn-sm btn-success"  type="submit" style="position: relative;margin-top: -72px;margin-right: 45%">上传</button>
                        </div>
                    </form>
                <button type="button" class="btn btn-sm btn-success" style="position: relative;margin-top: -185px;">提交</button>
                <button type="button" class="btn btn-sm btn-warning" style="position: relative;margin-top: -185px;">打印</button>
            </div>
        </div>
    </div>

    <!--/合同图 -->
    <div class="container-fluid">
        <div class="row text-center ex-tht">
            <div class="col-xs-10 col-xs-offset-1 ex-htt">
                *{<img src="../public/images/admin/contract/serller1.jpg" class="img-responsive"/>}*
                <img src="@{'/public/images/admin/contract/serller1.jpg'}" class="img-responsive"/>
            </div>
        </div>
    </div>

        </div>
    </div>
</div>