<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/admin/common.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/plugin/bootstrap/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/plugin/bootstrap-datetimepicker/css/datetimepicker.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/plugin/bootstrap/css/iconfont.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/plugin/JqueryPagination/jquery.pagination.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/plugin/select2/select2_conquer.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.11.0.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </head>
    <body>
        #{doLayout /}
    </body>
</html>

<script src="@{'/public/plugin/bootstrap/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/plugin/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js'}" type="text/javascript" charset="${_response_encoding}"></script>
*{<script src="@{'/public/plugin/JqueryPagination/jquery.pagination-1.2.7.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>}*
<script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/plugin/ace/ace.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/plugin/select2/select2.min.js'}" type="text/javascript" ></script>
