/*
    µ¯³öÄ£Ì¬¿ò
*/
.ex-mtk{
    padding-bottom: 10px;
}
#ex-qxyy{
    width: 200px;
    height: 26px;
    font-size: 14px;
}
#ex-tg{
    margin-top: 336px;
}
.area{
    resize:none;
    width: 200px;
    height: 100px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 10px;
}
.ex-qc{
    margin-left: 72px;
}
.ex-ts{
    margin-left: -8px;
}